@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cabin, sans-serif;
}

h1 {
    background-color: rgb(10, 62, 141);
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 20px;
}

img{
    width: 75px;
    height: 75px;
}

.full-scoreboard{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    font-size: 24px;
}

.user-label{
    background-color: rgb(248, 103, 6);
    color: white;
}

.user-scoreboard{
    display: inline-block;
    border: 4px solid rgb(248, 103, 6);
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    height: 70px;
}

.computer-label{
    background-color: rgb(248, 103, 6);
    color: white;
}

.computer-scoreboard{
    display: inline-block;
    border: 4px solid rgb(248, 103, 6);
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    height: 70px;
}

.choice-container{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.choice{
    display: inline-block;
    border: 4px solid rgb(248, 103, 6);
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
}

.choice:hover{
    cursor: pointer;
    background: yellow;
}

.message-board{
    text-align: center;
    font-size: 24px;
}

